<div class="row">
	<div>
		<h3 class="header-medium">Free Reading Mode</h3>
	</div>
	<p class="modeDescription">
		In this mode, all questions, answers and explanations are available without playing a game and keeping score.
	</p>
	<div class="gamesListWrapper width-20-pc float-left">
		<h5 class="gamesSideSectionHeader">Games:</h5>
		<div class="game-name-list">
			<div *ngFor="let g of gamesNames">	
				<a 
				class="game-name-item pointer"
				[routerLink]="['/learn', g.name]">
				{{g.name}}
			</a>
		</div>
	</div>
</div>
<div class="contentSection width-70-pc float-right">
	<h5 class="gamesSideSectionHeader">Questions
		<a (click)="presentSelectGameDialog()" class="selectGameMobileLink float-right pointer">Select a Game</a>
	</h5>
	<div #questionsCollpsibles *ngFor="let q of questions; last as isLast">
		<ul class="collapsible" data-collapsible="accordion"
		itemscope
		itemtype="http://schema.org/Question"
		>
		<li>
			<div class="collapsible-header">
				<div>
					<i class="material-icons">help</i>

					<span [innerHtml]="q.body" 
					itemprop="text"
					></span>
				</div>
			</div>
			<div class="collapsible-body" >
				<p class="innerHeader">
					answer:
				</p>
				<span [innerHtml]="q.correntAnswer.body">

				</span>
				<p class="innerHeader">
					explanation:
				</p>
				<span
				[innerHtml]="q.answer_explanation"
				itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer"></span>
			</div>
		</li>
	</ul>
</div>
</div>
</div>

<app-select-game 
#selectGameDialog
[gamesNamesList]="gamesNames"></app-select-game>
<app-bring-to-top
[scrollInterval]="40"
></app-bring-to-top>