<div id="questionWrapper" *ngIf="!showEndGamePage"        #questioScrollPoint>
	<div class="col s12 m7 container-width margin-auto">
		<div class="header-wrapper">
			<div class="header question-number"
			[ngClass]="{'question-number-full' : question.body}">
			<span class="question-number-text"
			[ngClass]="{'question-number-text-complete' : question.body}">Question Number:
			<span class="counter padding-5">{{counter}}</span>
		</span></div>
	</div>
	<div class="card horizontal question-card-main">
<!-- 			<div class="card-image">
				<img src="http://nodeframework.com/assets/img/js.png">
			</div> -->
			<div class="card-stacked">
				<div>
					<div class="card-content question-card"
					highlight-js
					[highlightContent]="question.body">
				</div>
			</div>
		</div>
	</div>

	<div id="answersWrapper">
		<div class="row answer-row">
			<div class="answer-card-wrapper"
			*ngFor="let answer of question.answers">
			<div class="card-panel teal answer-card clickable hoverable" 
			[ngClass]="{'disabler' : !enableAnswer}"
			(click)="enableAnswer && answerQuestion($event)"
			[attr.data-answer-id]="answer.id"
			[attr.data-question-id]="question.id">
			<span class="white-text card-text">
				{{answer.body}}
			</span>
		</div>
	</div>
</div>
</div>
<!-- <div id="cardActions">
	<a class="waves-effect waves-light btn">skip</a>
</div> -->
</div>

<ul class="collapsible" data-collapsible="accordion">
	<li [attr.data-question-id]="question.id">
		<div class="collapsible-header">
			<div>
				<i class="material-icons">help</i>Show Me The Answer
				<span class="wrong-answer-notif">Showing the answer will count as a wrong answer.</span>
			</div>
		</div>
		<!-- 					<span class="wrong-answer-notif">Showing the answer will count as a wrong answer.</span> -->
		<div class="collapsible-body">
			<a class="waves-effect waves-light btn right next-button"
			(click)="nextQuestion()">Next Question</a>
			<span
			[innerHtml]="explanation"></span></div>
		</li>
	</ul>
</div>

	<app-finished-game *ngIf="showEndGamePage" [results]="results" ></app-finished-game>
<!-- <app-finished-game-dialog #gameFinishedDialog></app-finished-game-dialog> -->