<!--Navigation-->
<div class="navbar-fixed">

  <nav  role="navigation">

    <div class="nav-wrapper blue">
      <div class="nav-menus-wrapper">
        <a [routerLink]="['']" id="logo-container" class="brand-logo-custom">JavaScript Trivia
          <span class="beta-mark">Beta</span>
        </a>

        <ul class="left-menu">
          <li class="large-screen-menu-item"><a [routerLink]="['/']">Home</a></li>
          <li class="large-screen-menu-item"><a 
            (click)="presentAuthDialog()"
            *ngIf="!(authService.userSignedIn$ | async)">
            Save Your Results</a></li>
            <li class="large-screen-menu-item">
              <a [routerLink]="['/games']">More Games</a></li>
              <!--             <li><a [routerLink]="['/submit_question']">Submit a Question</a></li> -->
            </ul>

            <ul class="right-menu right">

              <li *ngIf="!(authService.userSignedIn$ | async)" class="large-screen-menu-item">
               <a (click)="presentAuthDialog()" >LOGIN</a></li>
               <!--           <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog('register')">REGISTER</a></li> -->
               <!-- *ngIf="(authService.userSignedIn$ | async) &&  -->
               <!-- authService.getUserName()" -->

               <li 
               class="postition-relative">
               <a (click)="openUserDropdown()"
               *ngIf="(authService.userSignedIn$ | async)"
               class="postition-relative">
               {{authService.getUserName()}}
               <i class="tiny material-icons custom-user-dropdown-icon">arrow_drop_down</i>
             </a>

             <a (click)="openUserDropdown()"
             *ngIf="!(authService.userSignedIn$ | async)"
             class="postition-relative">
             More
             <i class="tiny material-icons custom-user-dropdown-icon">arrow_drop_down</i>
           </a>

           <app-user-drop-down 
           [showUserDropdown]="showUserDropdown"
           (hideUserDropDown)="openUserDropdown()"
           (logout)="logOut()"
           (showReportBugDialog)="presentReportBugDialog()"
           (authDialog)="presentAuthDialog()"
           ></app-user-drop-down>
         </li>
   <!--    <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>
 -->
</ul>
</div>

</div>

</nav>

</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
<app-report-bug #reportBugDialog></app-report-bug>
