<form (ngSubmit)="changePassword()" #f="ngForm" >

  <div class="row">

    <div class="col l8 s12 offset-l2">

      <div class="card blue-grey lighten-5 z-depth-4" style="margin-top: 5em">

        <div class="card-content">

          <div style="margin-bottom: 0" class="row ">


            <div class="col l8 s12" >
              <div class="input-field col s12">
                <input id="password" 
                type="password" 
                required  
                name='password' 
                [(ngModel)]="userResetPasword.password" 
                class="validate">

                <label for="password">Password</label>
              </div>

              <div class="input-field col s12">
                <input id="passwordConfirmation" 
                type="password" 
                required  
                name='passwordConfirmation' 
                [(ngModel)]="userResetPasword.passwordConfirmation" 
                class="validate">

                <label for="passwordConfirmation">Password Confirmation</label>
              </div>
            </div>
          </div>

          <div class="card-action clearfix">

            <button type="submit" 
            [disabled]="!(f.valid) || !(userResetPasword.password == userResetPasword.passwordConfirmation)"
            class="btn btn-block deep-orange darken-1 white-text waves-effect waves-light right"
            >
            Reset My Password
          </button>

        </div>

      </div>

    </div>

  </div>
</div>

</form>