<div class="col s12 games-wrapper">
 <div class="row">
 	<div class="col s4" *ngFor="let game of games">
 		<div class="card-panel grey lighten-5 z-depth-1"
        (click)="startGame(game.name)">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="https://pbs.twimg.com/profile_images/634644295618658304/UuIqtEJ8.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
          {{game.name}}
          </span>
          <span>Number of questions:
           {{game.number_of_questions}}</span>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>