@import '../../sass-variables.sass';

.games-wrapper
	padding-top: 50px;
	margin-top: 100px;
	border-top: 1px solid #ADA8A8;
	@media screen and (max-width: $small-size)
		margin-top: 30px;
		padding-top: 20px;

.card-panel.grey.lighten-5 .notif-played-small
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
	font-size: 14px;
	background-color: rgba(10, 155, 208, 0.45);
	color: white;

.num-of-questions-small
	font-size: 10px;
	position: relative;
	bottom: 0;
	left: 0;

.min-height
	min-height: 210px;

.game-image-container
	width: 55px;
	height: 55px;

.game-image-container .game-image
	width: 100%;
	height: auto;