/* You can add global styles to this file, and also import other style files */
.padding-20
	padding: 20px !important;

.header-small
	font-size: 20px;

.common-color
	color: #555;

.margin-left-20
	margin-left: 20px;

.hover-background:hover
	box-shadow: 2px 2px 2px 2px  #555;

.standard-bckg-color
	background-color: #f5f5f5 !important;

.image-small
	height: 145px;

.pointer:hover
	cursor: pointer;