<div class="row">
<div>
	<h3 class="header-medium">Select A Game</h3>
</div>
	<div class="mainWrapper">
		<div class="contentGames left">
			<div class="col s12 center-align content-mini bckgcolor-white padding-20">
				<div>
					<div class="card horizontal hoverable standard-bckg-color pointer home-game-card"
					*ngFor="let g of games"
					(click)="startGame(g.name)">
					<div class="card-image">
						<img [src]="g.image_url" alt="" class="image-small">
					</div>
					<div class="card-content col s12">
						<span 
						class="notif-played"
						*ngIf="g.user_related && 
						(authService.userData)"
						>Played!
						<span class="user-score display-block font-size-12">score: {{g.user_score + '/100' || 'Not Finished'}}</span>
					</span>	
					<p class="card-title left-align">{{g.name}}</p>
					<p class="game-description left-align">
						{{g.description}}
					</p>
					<p class="num-of-questions left">Number of Questions:{{g.number_of_questions}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sideSection medium-screen-item right">
	<div class="content-mini content-up col s10 bckgcolor-white right padding-20">
		<p class="header-small center-align common-color">Welcome to the JavaScript Question Trivia.</p>
		<p class="common-color">Playing is free, no need to sign up, but if you 
			want to save your result, sign up easily here.</p>
		</div>

		<div class="content-mini content-down col s10 bckgcolor-white right padding-20">
		<p class="common-color">
			Web Trivia - A resource for short question in various subjects, all related to modern Web development. 
		</p>
		<p class="common-color">
			Question about JavaScript paradigms, Jquery, CSS3, SASS/LESS, HTML and more.
		</p>
		<p class="common-color">
			We are always improving. Drop us a word if you have any suggestion.
		</p>
		<p class="common-color">Enjoy!</p>
		</div>
	</div>
</div>
</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
<app-report-bug #reportBugDialog></app-report-bug>

<app-bring-to-top
  [scrollInterval]="40"
></app-bring-to-top>