@import '../../sass-variables.sass';

.mainWrapper
	padding-top: 60px;
	min-height: 100%;
	border-top: 1px solid $headers-color;

.content-mini
	border: 1px solid $headers-color;
	border-radius: 3px;
	box-shadow: 0 0 4px $headers-color;	

.content-down
	min-height: 50vh;

.content-up
	margin-bottom: 3vh;
	min-height: 30vh;

.full-height
	min-height: 100%;

.bckgcolor-white
	background-color: white;

.num-of-questions
	font-size: 12px;

.game-description
	padding-bottom: 15px;

.card-content .notif-played 
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-size: 20px;
	background-color: rgba(10, 155, 208, 0.45);
	color: white;

.home-game-card
	min-height: 180px;

.main-card-link
	text-decoration: none;
	color: $card-text-color;