 		<div class="finishedGameWrapper padding-20" 
 		[@resultState]="results" #finishedGame>
 			<div class="">
 				<h2 class="finishedHeader">Game Over!</h2>
 			</div>

 			<div class="width-70-pc line-wrapper padding-5">
 				<h4 class="float-left">questions: </h4>
 				<h4 class="float-right">{{results.numOfQuestions}}
 				</h4>	
 				<div class="clear-both"></div>
 			</div>

 			<div class="width-70-pc line-wrapper padding-5">
 				<h4 class="float-left">correct answers:
 				</h4>
 				<h4 class="float-right"> {{results.numOfCorrectAnswers}}</h4>	
 				<div class="clear-both"></div>
 			</div>

 			<div class="width-70-pc line-wrapper padding-5">
 				<h4 class="float-left">total score: </h4>
 				<h4 class="float-right">{{results.gameScore}}</h4>	
 				<div class="clear-both"></div>
 			</div>
 			<div class="padding-top-20">
 				<a class="waves-effect waves-light btn finished-action"
 				[routerLink]="['/games']">Back to Games</a>
 				<a class="waves-effect waves-light btn finished-action"
 				(click)="navigateHome()">Home Page</a>
 			</div>
 		</div>
